<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="myScript.js"></script>
    <link rel="stylesheet" href="style.css">
<title>
Login
</title>
</head>

<header class="w3-container w3-teal w3-padding-xlarge">
  <h1>TDT4140</h1>
  <p> next class is Friday March 24th at 02:15pm in R1</p>
</header>
<body>

<div class="w3-row">
  <div class="w3-container w3-quarter">
    <div class="w3-container w3-padding-48" >
      <h2>Course material</h2>
      <ul class="w3-ul">
        <li class="w3-hover-teal"><h3>file1</h3></li>
        <li class="w3-hover-teal"><h3>file2</h3></li>
        <li class="w3-hover-teal"><h3>file3</h3></li>
      </ul>
    </div> 
        
  </div>
  <div class="w3-container w3-threequarter w3-padding-64">
    <div class= "w3-center"> 
        <iframe src="Answers05.pdf" style="width:80%; height:500px;" frameborder="0"></iframe>
    </div>
  </div>
  
  
</div>


</body>
</html>

